body{
    background-image: url("trial2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
main{
width: 1000px;
position: absolute;;
top: 20%;
left: 25%;
right: 15%;
}
nav{
    position: fixed;
    top: 5%;
    left: 12%;
    right: 5%;
}
nav a{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-decoration: none;
    transition: all;
    transition-delay: 100ms;
}
.navbar{
    display: inline;
    margin: 100px;

}
nav a:hover{
    font-size: 100px;
}

