main{
width: 1000px;
position: absolute;;
left: 25%;
right: 15%;
}
nav{
    position: fixed;
}
body{
    background-image: url("Media\Milkway.jpg");
    background-size: cover;
    background-attachment: fixed;
}
