body{
    background-image: url("trial2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
main{
width: 1000px;
position: absolute;;
left: 25%;
right: 15%;
}
nav{
    position: fixed;
}
